.CardProduct { 
    display: flex;
    gap: 4rem;
    padding: 4rem;
    justify-content: center;
    border: 1px;
}


.imgProductoCarrito { 
    width: 200px;

}


.btn-delete { 
    background-color: red;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    border: 0;
}
.finalizar-compra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    padding: 1rem;
    
    gap: 1rem;
    
}

.btn-finalizar-compra { 
    color: white;
    background-color: black;
    padding: 1rem;
}