* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(255, 255, 255);
  text-align: center;
}



/* .App-header {
  background-color: #2257c0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(112, 55, 55);
} */

.App-link {
  color: #61dafb;
}

.tituloNotas { 
  color: white;
}



.title-checkout { 
  display: flex;
  justify-content: center;
}

.form { 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(9, 8, 8);
  margin-top: 3rem;
  margin-inline: 700px;
  
}

.labelsForm { 
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: white;
}


.tarjeta { 
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;

}

.addProduct { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn { 
  background-color:white ;
  font-weight: 400;
  font-size: 2rem;
  width: 50px;
  border: 1px solid;
  border-radius: 50px;
  
  
}

.btn:hover{
  background-color: blueviolet;
  color: white;
}

.btn-add{ 
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  border: 0;
  border-radius: 5px;
}

.btn-red { 
  background-color: red;
  font-weight: 400;
  font-size: 2rem;
  width: 50px;
  border: 1px solid;
  border-radius: 50px;
}
.botones {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
